body {
    background-color:#e9f0d8;
}

h1 {
    color: #07dbce;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 44pt;
    padding: 20px;
    background-color: white;
}

h2 {
    color: #07dbce;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 44pt;
    padding: 20px;
    background-color: white;
    text-align: center;
}
p{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}

.box {
    background-color: white;
    margin-top: 10px;
    
}
p{ padding: 0 15px 0 15px;}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {color: #07dbce;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36pt;
    padding: 10px;
    background-color: white;
    text-align: center;}
head {
    background-color: white;
}


.nav {
    background-color: white;
}

.btn {background-color:  #07dbce}